nav {
    margin: 0;
}

nav img {
    width: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $colorNav;
    color: #fff;
    font-weight: 900;
    padding: 10px;
}