@media (max-width: 1200px) {
    header {
        background-size: cover;
    }
}

@media (max-width: 980px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    
    nav ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }

    nav ul li {
        border: darkgray 1px solid;
        height: 100%;
        text-align: center;
        vertical-align: middle;
    }

    nav img {
        width: 30px;
    }

    .rubrika-title {
        font-size: 20px;
    }
}

@media (max-width: 680px) {
    .content {
        flex-direction: column-reverse;
    }
    .right-content {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        width: 100%;
    }
    
    .right-content > div {
        margin-right: 2px;
        width: 25%;
        background: #ebf0f5;
    }

    .rubrika-figure {
        font-size: 20px;
        text-align: center;
    }
    
    .rubrika-text {
        font-size: 15px;
    }

    .left-content {
        width: 100%;
    }

    .rubrika-title {
        margin: 0;
        text-align: center;
    }
    
}

@media (max-width: 580px) {
    nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    nav ul li {
        padding: 10px;
        height: 50%;        
    }

    nav img {
        width: 25px;
    }

    .right-content {
        flex-direction: column;
        // width: 100%;
    }

    .right-content > div {
        width: 100%;
    }
}