@mixin visually-hidden() {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0,0,0,0);
    overflow: hidden;
}

@mixin button($bg: $second, $borderColor: transparent) {
  
    border-radius: 5px;
    background-color: $bg;
    width: 170px;
    height: 54px;
  
    font-size: 14px;
    font-family: "Raleway";
    color: $white;
    border: 2px solid $borderColor;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    display: block;
    cursor: pointer;
    box-shadow: none;
    appearance: none;
    transition-property: background-color, border-color;
    transition-duration: 500ms;
    @content;

    &:hover, &:active {
      background-color: darken($bg, 15%);
      border-color: darken($bg, 15%);
    }
} 